


<section class="contact-section">
    <div class="container-fluid" id="contact-form">
        
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-grid ">
                <div class="row form-inner-grid">
                    <div class="contact-text">
                      <h3 class="contact-title">Wish to contact me?</h3>
                      <p>Fill in the form below and I will respond as soon as possible!</p>
                    </div>
                <div class="col-md-6 col-lg-6 extra-info">
                  <div class="contact-info">
                    <a>
                      <i class="fa fa-envelope"></i>
                      <strong>E-mail</strong>
                    </a>
                    <p>lasri.mouad98@gmail.com</p>
                  </div>
                  <div class="contact-info">
                    <a>
                      <i class="fa fa-map-marker"></i>
                      <strong>Address</strong>
                    </a>
                    <p>Rabat, Morocco</p>
                  </div>
                  <div class="contact-info">
                    <a>
                      <i class="fab fa-skype"></i>
                      <strong>Skype</strong>
                    </a>
                    <p>lasri.mouad98</p>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </div>

        
</section>
