{% extends "home/base.html" %}

{% block about-content %}
    <h3 class="about-me-title">About me</h3>
    <p>
        My name is Mouad Lasri, a tech savvy senior student at Al Akhawayn University in Ifrane, Morocco. I am majoring in
        Computer Science, and minoring in Business Administration and Mathematics.
    </p>
    <p>
        I am an aspiring Data Analyst who enjoys building websites and making tutorials on various web technologies.
    </p>
    <!-- <p>
        The skills I am currently familiar with in data analysis and web development:
    </p>
    <ul>
        <li>Data Analysis: Python, Pandas, Numpy</li>
        <li>Data Visualization: Tableau</li>
        <li>Back-end technologies and databases: Django, SQL, MongoDB</li>
        <li>Front-end technologies: React, Bootstrap, JavaScript</li>
    </ul>
    <p>I have previous experience in Nodejs, Express and React Native.</p> -->
{% endblock about-content %}

