/***********************************************
================= HEADER/NAVBAR section ==================
************************************************/

header {
   /* height: 800px; */
  /* background-color: #c3c3c3; */
  /* background-image: url('/static/home/header2.jpg'); */
  background-image: url('https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  height: 100vh;
}

#name {
  color: white;
}

ul {
  margin: 0;
}

.jumbotron {
  /* transparent */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  min-height: 100%;
}

/* color of the whole navbar */
.bg-steel {
  background-color: #f1f1f1;
  padding: 20px 10px;
  transition: 0.4s;
}

.site-header a {
  font-size: 22px;
  transition: 0.4s;
}

.site-header .navbar-nav .nav-link {
  color: #000;
  font-family: 'Avenir';
  padding-left: 30px;
}

.navbar-dark .navbar-brand {
  color: #000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #273B7B;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.header-titles h1{
  color: #cbd5db;
  font-size: 72px;
}

@media (max-width: 991.98px) { 
  .navbar {
    width: 100%;
    margin-top: 0px;
  }
}
















/***********************************************
================= SEPARATOR ==================
************************************************/

.separator {
  padding-top: 0;
  margin: 0;
  border-top: 4px solid  rgba(47, 46, 46, 1);
}















/***********************************************
================= ABOUT section ==================
************************************************/

.about-section {
  height: 500px;
  /* border: 2px solid red; */
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.about-section p, .about-section ul {
  color: #000 !important;
  font-size: 21px;
  margin-bottom: 10px !important;
  line-height: normal;
  letter-spacing: normal;
  /* font-family: 'Avenir'; */
  font-family: 'Avenir';
}

.centered-grid {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.about-grid {
  height: 100%;
}

.about-presentation {
  padding: 20px;
}

.about-me-title {
  font-size: 45px;
  font-family: 'Avenir';
  color: #2F2E2E;
  margin-bottom: 30px;
}

















/***********************************************
================= EXPERIENCE section ==================
************************************************/

.experience-section {
  background-color: rgba(155, 155, 155, 0.21);
  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-image {
  width: 80%;
  margin: 0 auto;
}

.experience-image img {
  height: 100%;
  width: 100%;
}

.experience-title {
  background-color: #276464;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 45px;
  margin-top: 10px;
  color: white;
  font-size: 1.1em;
  /* font-family: 'Avenir'; */
  font-family: 'avenirregular';
  text-transform: uppercase;
}

.experience-description {
  width: fit-content;
  /* margin: 0 auto; */
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.1em;
  font-family: Avenir;
}
















/***********************************************
================= PORTFOLIO section ==================
************************************************/
#portfolio {
  background-color: #3c3c3c;
}

.portfolio-project {
  margin-top: 30px !important;
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s ease-in-out;
}

.portfolio-project:hover {
  transform: scale(1.03);
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* opacity: 0; */
  border-radius: 20px;
  transition: all .3s;
}

.img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  /* background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%); */
  box-shadow: 4px 13px 30px 1px rgba(23, 162, 184, 0.5);
  border-radius: 20px;
  border: 1px solid #c3c3c3;
  /* transform: translateX(-80px); */
  transform: translate(-80px, 20px);
  overflow: hidden;
}

.img-web-development {
  box-shadow: 4px 13px 30px 1px rgba(220, 53, 69, 0.5);
}

.date {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}

.description-detailed {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  }

.item {
  display: flex;
  align-items: center;
 }


@media screen and (max-width: 992px) {
  .portfolio-project {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-project {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
    margin-top: 180px !important;
  }
  
  .item {
    flex-direction: column;
  }
  
  .img {
    transform: translateY(-50%);
    width: 90%;
  }
  
  .content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .img {
      width: 95%;
  }
  
  .content {
    padding: 0;
  }
  
  
  .button {
    width: 100%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .portfolio-project {
      height: 350px;      
  }
  
  .img {
    height: 270px;
  }
}


.filter-section {
  margin: 40px 0px;
  text-align: center;
}

.btn-info {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-filter {
  margin-right: 4px;
}

.btn-filter:hover {
  cursor: context-menu;
}

.data-analysis, .web-dev, .tutorials {
  /* border-radius: 0px; */
  /* border: 1px solid black; */
}


.data-analysis:hover {
  box-shadow:  0 0 50px #ffc107;
}

.web-development:hover {
  box-shadow:  0 0 50px #dc3545;
}

.tutorials:hover {
  box-shadow:  0 0 50px #17a2b8;
}

.project-description {
  text-align: left;
  line-height: 1.2em;
  margin-left: 5px;
  margin-top: 5px;
  /* font-family: 'Avenir'; */
  font-family: 'avenirregular';
  font-size: 0.9em;
}

.portfolio-subsection {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .filter-section {
    text-align: center;
  }

  .filter-section .btn {
    padding: 0.250rem 0.5rem !important;
    font-size: 0.8rem !important;
  }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
  .grid-box {
    width: 80%;
    margin: 0 auto;
  }
}

i {
  float: right;
  font-size: 30px;
  padding: 0 10px;
}






















/***********************************************
================= FOOTER section ==================
************************************************/

footer {
  height: 40px;
  background-color: black;
  width: 100%;
}